.menu{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
}
  .menu>ul{
	overflow:hidden;
}
  .menu>ul>li{
	float:left;
	width:25%;
	height:50px;
	position:relative;
}
.menu .trans{
	width:70%;
	position:absolute;
	top:50%;
	left:20%;
	transform:translateY(-50%);
	margin:0 auto;
}
.menu .tab{
	max-width:25px;
	margin:0 auto;
}
.menu .trans>p{
	text-align:center;
	font-size:12px;
	color:#959595;
}menu