.record .nav{
	height:80px;
	background-color:#e2724a;
	text-align:center;
	position:relative;
	overflow:hidden;
	font-size:20px;
	color:#fff;
	letter-spacing:2px;
}
.record .nav>div{
	position:absolute;
	bottom:10px;
}
.record .nav>.nav-imgl{
	width:12px;
	height:22px;
	left:20px;
}


.record .nav>.addr{
	width:135px;
	left:0;
	right:0;
	margin:0 auto;
}
.record .grecewz>div:nth-child(1){
	color:#FE6F75;
}
.record .mony2>div{
	font-size: 12px;
}
.record .Total>.fl{
	color:#F31C26;
}
.record .Total>.fr{
	border:1px solid #FC2224;
	border-radius:10px;
	line-height: 7px;
	padding:5px;
}
.record .date{
	padding-left:10px;
	background-color:#CECECE;
	line-height: 25px; 
}
.record .fot{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
}
.record .fot>div{
	text-align: center;
	font-size:18px;
	line-height:50px;
	color:#818181;
	
}

.record  .gr{
	padding:0px 10px;
	border-bottom:1px solid #C1C1C1;
}
.record .grece{
	overflow:hidden;
	padding:10px 0;
	position:relative;
	

}
.record .greceimg{
	width:-webkit-calc(30% - 15px);
	width:calc(30% - 15px);
	padding-left:15px;}

.record .grece>div{
	float:left;
}
.record .grecewz{
	width:70%;
	position: absolute;
	top:0;
	right:0;
	padding:10px 0;
	height:calc(100% - 20px);
	height:-webkit-calc(100% - 20px);
}
.record .grecewz1{
	height:100%;
}
.record .grecewz1>div{
	width:100%;
	
}
.record .grecewz1>div:nth-child(1){
	height:25%;
}
.record .grecewz1>div:nth-child(2){
	height:50%;
	line-height: 20px;
}
.record .grecewz1>div:nth-child(3){
	height:25%;
}
.record .Total{
	overflow:hidden;
	position:relative;
}
.record .Total>div:nth-child(1){
	position:absolute;
	bottom:0;
	left:0;

}
.record .Total>div:nth-child(2){
	position:absolute;
	bottom:0;
	right:0;

}
.record .grecewz1>div:nth-child(1){
	font-size:15px;
}
.record .mony>div{
	font-size:13px;
}
.record .mony>div:nth-child(1){
	color:#E48A33;
}
.record .mony>div:nth-child(2){
	color:#FA3333;
}
.record .fo{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
}
.record .fo>div{
	font-size:18px;
	text-align:center;
	color:#fff;
	line-height:50px;
	background-color:#E2724A;
}
.record .fl{
	font-size:12px;
	color:#868686;
}
.record .fr{
	font-size: 14px;
	color:#868686;
}