
	<title>待付款</title>

	<div class="payment">
		<div class="nav">
			<div class="nav-imgl">
				<a ng-click="gohistory();"><img src="./image/left.png" alt="" /></a>
			</div>
			<div class="addr">待付款</div>
			
		</div>
		<div class="Greceipt">
			<div class="gr">
				<div class="grece">
		
						<div class="radio"><input type="radio" name="chahu" checked="checked"></div>
						
						<div class="greceimg">
							
							<img src="./image/layer-12.png" alt="">
						</div>
				
						<div class="grecewz">
							<div class="grecewz1">
								<div>古法淬火系:木鱼石大龙杯</div>
								<div class="mony4">
									<div>杯身12CM，直径9.1cm</div>
									<div>重量0.88KG，容积480毫升。</div>
								</div>
								<div class="Total">
									<div class="fl">￥399.00</div>
									<div class="fr">x1</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="gr gr1">
				<div class="grece">
		
						<div class="radio"><input type="radio" name="chahu"></div>
						
						<div class="greceimg">
							
							<img src="./image/layer-12.png" alt="">
						</div>
				
						<div class="grecewz">
							<div class="grecewz1">
								<div>古法淬火系:木鱼石大龙杯</div>
								<div class="mony4">
									<div>杯身12CM，直径9.1cm</div>
									<div>重量0.88KG，容积480毫升。</div>
								</div>
								<div class="Total">
									<div class="fl">￥399.00</div>
									<div class="fr">x1</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="fot1">
			<div class="fot1-left">
				<div><input type="radio">全选</div>
				<div>共计2件商品</div>
			</div>
			<a ng-click="goState('menu.Shopping');">
				<div class="fot2-right">
					<div>去付款</div>
				</div>
			</a>
		</div>
	</div>
