<div class="shmenu">
<div class="fot1">
		<ul>
			<li>
				<a ng-click="goState('menu.Shopping');">
							<div class="trans h">
								<div class="tab"><img src="./image/shopping2.png" alt="">
								</div>
								<p>购物车</p>
							</div>	
						</a>
					</li>
					<li>
						<a  ng-click="goState('Collection');">
							<div class="trans h">
								<div class="tab"><img src="./image/collect1.png" alt="">
								</div>
								<p>收藏</p>
							</div>	
						</a>
					</li>
					<li>
						<a ng-click="goState('menu.Shopping');">
							<div class="trans w">加入购物车</div>
						</a>
					</li>
					<li>
						<a ng-click="goState('Order');"><div class="trans w">立即购买</div></a>
			</li>
		</ul>
</div>
</div>